<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Blogs">
    <meta name="author" content="Cristhian Cano">
    <link rel="icon" href="../../../../favicon.ico">
    <title><%= @page_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords%>"/>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
   
      <div class="row">
            <div class="col-md-10"> 
            <%= render 'shared/blog_nav' %>    

            <%= login_helper 'btn btn-sm btn-outline-secondary'%>

        </div>
      </div>


      <header class="blog-header py-3">
        
        <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin)%>
      </header>

      
      

        <%= yield %>

        <aside class="col-md-4 blog-sidebar">
          
        </aside><!-- /.blog-sidebar -->
        
        <%= render "shared/nav", location: 'bottom'%>

        <%= source_helper("blogs") %>
    


 
    
    </div>

    <<%= render "shared/application_footer"%>
  </body>
</html>
